body{
    font-family: 'REM', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    letter-spacing: 2px;
    width: fit-content;
}
h2{
    text-decoration: underline;
}
.logo{
    float: left;
    height: 80px;
    width: 80px;
    margin-right: 1vh;
}
nav{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 55vw;
}
nav ul{
    padding: 0;
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    gap: 10px;

}
nav ul li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-weight: bolder;
    font-size: large;
    letter-spacing: 1px;
    background-color: none;
    transition: 0.5s;
    background-color: none;
    top:20px;
}
nav ul li a:hover{
    color:crimson;
}
.video-container{
    display: flex;  
    height: 100vh;
    width: 100%;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
}

.containerVideo{
    display: flex;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    gap: 10vh;
    
}
#video-background{
    height: fit-content;
    width: 70vw;
    z-index: -2;
}
.welcome{
    font-size: 5vw;
    z-index: 1;
    text-align: center;
    padding: 1rem;
    color: black;
    margin: 0;
}
.onvideo{
    font-size: 4vw;
    z-index: 1;
    color: black;
    text-align: left;
    margin: 0;
}
.onvideo span{
    font-size: 100px;
    color:black;
}

#naruto{
    height: 250px;
    float: right;
    border-radius: 100%;
}
.narutoDiv{
    width: 80vw;
}

h2{
    font-size: xxx-large;
}
.narutoDiv > p{
    text-align: center;
}
p{
    font-size: x-large;
    font-weight: 600;
    padding: 5px;
    text-align: left;
}

span{
    color:darkslateblue;
    font-size: xxx-large;
    font-weight:bolder
}

h2{
    text-align: center;
    text-decoration:none;
    padding-bottom: 20px;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    clear: both;
    gap: 10vh;
}
.skills{
    display: flex;
    flex-direction: column;
    gap: 7vh;
    height: 100vh;
    width: 80vw;
    background-color: black;
}
.developer{
    width: 80vw;
    height: 30vh;
    background-color: black;
    color: white;
}
.inblack-p{
    text-align: left;
    color: white;
    font-size: x-large;
    padding: 5px;
}
.inblack-h{
    padding-top: 5vh;
    font-size: xx-large;
    color:blue;
    text-align: center;
    font-weight: bolder;
}

.beardguy{
    float: left;
    height: 300px;
    width: 300px;
}
.workatnight{
    height: 280px;
    width: 280px;
    float: right;
    top: 0;
}
#Cover{
    height: 80vh;
    width: 50vw;
}
.aboutme{
    height: 100vh;
}
.aboutmeTxt{
    padding: 10vh;
}
.myself{
    height: 400px;
    width: 400px;
    float: right;
    padding: 5px;
}

.aboutme{
    width: 80%;
    height: fit-content;
}
.aboutmeH3{
    font-size: xx-large;
    text-align: left;
}

.saymyname{
    font-family: 'Shadows Into Light', cursive;
    font-size: xxx-large;
}
.aboutmeP{
    font-size: x-large;
    text-align: left;
    padding: 5px;
}
.martin{
    font-family: cursive;
    font-size: large;
    color: black;
    text-align: center;
}
.blackbg{
    display: flex;
    margin: 10px;
    background-color: white;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    padding-top: 10vh;
}
.blackImg{
    height: 80vh;
    width: 80vw;
}
#project{
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 80vw;
    align-self: center;
    gap: 5vh;
    padding-top: 10vh;
}
.row{
    gap: 10px;
 
}
.contactDiv{
    height: 100vh;
    width: 80vw;
}
.contact{
    text-align: center;
    text-decoration: none;
    padding: 30px;
}
.contactP{
    padding: 5px;
}
.ContactMeH{
    text-align: center;
    font-size: xx-large;
    padding: 0;
}

.thankyou{
    padding: 10px;
    text-align: center;
}
.socialicons{
    width: 100%;
    height: fit-content;
    padding: 20px;
    display: flex;
    justify-content: center;
    
    
}
.icon{
    height: 30px;
    width: 30px;
    
    
}
.aicon{
    padding: 20px;
    
}
footer{
    width: 100%;
    height: fit-content;
    clear: both;

}
.footer{
    font-size: smaller;
    text-align: center;
}


























@media (max-width:680px){
    body{
        background-color: white;
    }
}